@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<br />

<body>


    <div class="text-center" style="font-family:'Javanese Text'; font-size:x-large;  box-shadow: 50px" >
        <h1 class="display-4">Welcome to the Board Game Picker </h1>
        <br />
        <img style="width:60%; height:30%" src="https://seobrien.com/wp-content/uploads/2000/05/puff_dragon.jpg" />

    </div>

</body>


@*https://i.redd.it/zvbbmfn93wg11.jpg*@

@*https://pbs.twimg.com/profile_images/1064287595893407744/NIPOLX4S.jpg*@